<div class="row">
    <div class="col-md-6 mx-auto border">
        
        <img src="assets/logo.jpg" alt="e-commerce" class="img-fluid ml-5 mx-auto rounded mx-auto d-block" style="width: 200px"     >

      <h3 class="text-center"> Account Register</h3>
        <form (submit)="go()" >
          <div class="form-group">
            <label for="name" class="h6 float-left">name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="name">
          </div>

          <div class="form-group">
            <label for="email" class="h6 float-left">email</label>
            <input type="email" class="form-control" name="Email" [(ngModel)]="Email">
          
          </div>
  
          <div class="form-group">
            <label for="password" class="h6 float-left">password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password">
  
          </div>

          <div class="form-group">
            <label for="password_confirm" class="h6 float-left">confirm password</label>
            <input type="password" name="password2" [(ngModel)]="password2" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        
    </div>
  </div>
  <ng-flash-message></ng-flash-message>