<div class="row">
  <div class="col-md-6 mx-auto border justify-content-center">
    <img src="assets/logo.jpg" alt="e-commerce" class="img-fluid ml-5 mx-auto rounded mx-auto d-block" style="width: 200px"     >
    <h3 class="text-center">Account Login</h3>
      <form (submit)="go()" >
        <div class="form-group">
          <label for="email" class="float-left">email</label>
          <input type="email" class="form-control" name="Email" [(ngModel)]="Email">
        
        </div>

        <div class="form-group">
          <label for="password" class="float-left">password</label>
          <input type="password" class="form-control" name="Password" [(ngModel)]="Password">

        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <ng-flash-message></ng-flash-message>
      </form>
    
  </div>
</div>