
<div class="wrapper ">
    <div class="inner ">

      <div class="yipee border border-primary   animated bounce hvr-grow">
        <h3 class=" text-white bg-gradient-dark  ">Inicia Sesión</h3>
      </div>
      <br>

      <form (submit)="go()" class="border border-primary animated bounce backycracky">




        <div class="form-row ">
          <div class="form-wrapperas mt-1 primerElemento">
            <label for=""  class="hvr-wobble-horizontal">Correo </label>
            <input type="text" class="form-control " placeholder="Correo"  name="Email" [(ngModel)]="Email" #emailIn>
          </div>

          <div class="form-wrapperas mt-1 ">
              <label for="" class="hvr-wobble-horizontal">Contraseña</label>
              <input type="password" class="form-control " placeholder="Pass" name="Password" [(ngModel)]="Password">
              
            </div>

           
            <div class="sin-clase">
                <p-checkbox class="form-control-checkbox border border-primary" binary="true" [(ngModel)]="recordarD" name="recordarD" ></p-checkbox>
                <label class="hvr-wobble-horizontal mt-1 recordar-datos d-inline border ">Recordar Datos</label>
                  <div *ngIf="recordarD">               
                <label for="" class="mt-1 d-block">el estado es => {{recordarD.toString()}}</label>
                </div>
             
            </div>

         




        </div>

        <button data-text="ESCALA" type="submit">
          <span>Entrar</span>
        </button>
        <ng-flash-message></ng-flash-message>
      </form>
    </div>
  </div>

  <div class="loading">

      <ng-template #customLoadingTemplate>
          <div class="custom-class">
              <h3>
                Loading...
              </h3>
              <button (click)="showAlert()">
                    Click me!
              </button>
          </div>
      </ng-template>

      <ngx-loading [show]="loading" [config]="{animationType: ngxLoadingAnimationTypes.chasingDots, primaryColour: primaryColour,secondaryColour: secondaryColour, fullScreenBackdrop: fullscreenloadingdecision , backdropBorderRadius: radio, backdropBackgroundColour: colorback}"
        [template]="loadingTemplate"></ngx-loading>
    </div>




