<h1> WEB PAGE PROFESSIONAL </h1>
<button class="ml-100" (click)="salirsesion()"> Cerrar Sesion</button>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
        <!-- Your customer chat code -->
        <div class="fb-customerchat"
          attribution=setup_tool
          page_id="388522938585860"
          theme_color="#ff7e29"
          logged_in_greeting="Hola, Bienvenido en que te podemos colaborar?"
          logged_out_greeting="Hola, Bienvenido en que te podemos colaborar?">
        </div>
    </div>
  </div>
</div>